@import "../../style/variables.scss";

.mainContainer {
  background: $dmBackground;
}

.dashContainer {
  margin-left: 10rem;
  width: 100%;
  height: 100vh;
  background: $dmBackground;
}

.dashContainer .light {
  background: $lmBackground;
}

.navSpacer {
  height: 10vh;
  width: 100%;
}

.paperCard {
  max-width: 500px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: $dmLight;
  padding: 1rem;
}

.paperCard h2 {
  color: white;
}

.paperDescription {
  color: $cyan;
}

label {
  display: block;
}

.addUserContainer {
  color: red;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: fit-content;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.paperCard button {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-family: museo-sans, sans-serif;
  font-weight: 900;
  background-color: transparent;
  border-style: solid;
  margin-left: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.paperCard button:focus {
  outline: none;
}

.paperCard .addPaper {
  border-color: $cyan;
  color: $cyan;
}

.paperCard .addPaper:hover {
  border-color: $cyan;
  color: $dmBackground;
  background-color: $cyan;
  transition: 0.2s ease-in-out;
}

.paperCard .minusPaper {
  border-color: $magenta;
  color: $magenta;
}

.paperCard .minusPaper:hover {
  border-color: $magenta;
  color: $dmBackground;
  background-color: $magenta;
  transition: 0.2s ease-in-out;
}

/*
  width: 20rem;
  height: 3rem;
  font-family: museo-sans, sans-serif;
  font-weight: 900;
  background-color: transparent;
  border-style: solid;
  border-color: $cyan;
  color: $cyan;
*/
